# Create pandas DataFrame with namedtuple
In this exercise, we construct a pandas dataframe using a list of namedtuples


## Benefit

- We don't need to worry about the number of columns or their names. It is cleaner way to create pandas dataframe this way

In [5]:
import collections as collect
import pandas as pd

In [6]:
# Employee is namedtuple
Employee = collect.namedtuple('Person', 'Name Age Gender ID')
# Team is a list
Team = []

In [7]:
# Construct a list of namedtuples
Team.append(Employee(Name='Bob', Age=30, Gender='male', ID=234))
Team.append(Employee(Name='Jane', Age=29, Gender='female', ID=134))
Team.append(Employee(Name='Tom', Age=35, Gender='male', ID=122))
print(Team)

[Person(Name='Bob', Age=30, Gender='male', ID=234), Person(Name='Jane', Age=29, Gender='female', ID=134), Person(Name='Tom', Age=35, Gender='male', ID=122)]

In [8]:
# Create a pandas dataframe with the list of namedtuples
df = pd.DataFrame(Team)
print(df)
# Print the 3rd row
print(df.iloc[2])
print(df.iloc[2]['Name'])
print(df.iloc[2]['ID'])

   Name  Age  Gender   ID
0   Bob   30    male  234
1  Jane   29  female  134
2   Tom   35    male  122
Name       Tom
Age         35
Gender    male
ID         122
Name: 2, dtype: object
Tom
122